{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">


        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Neu hier?</h1>

                <hr/>


                <p>
                    Zunächst einmal: lass dich von dem "textbasierten" Spiel nicht abschrecken! Am Anfang ist es
                    ungewohnt, aber schon nach kurzer Zeit geht alles fast wie von allein. Und wir tun unser
                    möglichstes, um dir den Einstieg leicht zu machen.
                </p>
                <p>
                    Auf unserer Webseite haben wir Informationen zusammengetragen, die für den Spielstart interessant
                    sein werden. Sieh dich also am besten erstmal in Ruhe um, lies dir alles durch. Dann bist du schon
                    gut auf den Spielstart vorbereitet.
                </p>
                <p>
                <ul>
                    <li>
                        Benutze zu Beginn den Web-Client zum spielen.
                    </li>
                    <li>
                        Für die Anmeldung hier brauchst Du einen Benutzernamen, eine gültige Email-Adresse und ein
                        sicheres Passwort. Gut wäre es vielleicht auch, wenn Du Dir vorher schon Gedanken über einen
                        Namen für Deine Spielfigur machst. (Diesen Namen kannst Du auch als Benutzernamen verwenden.)
                    </li>
                    <li>
                        Du kannst das Tutorial jederzeit für eine kleine Pause unterbrechen. Und Du kannst auch
                        jederzeit ausloggen und später weiter machen. Deine Fortschritte bleiben erhalten.
                    </li>
                    <li>
                        Du solltest mindestens eine Stunde für den ersten Besuch einplanen. In dieser Zeit wirst Du Dir
                        einen Spielfigur erzeugen, einen sogenannten Charakter. Außerdem wirst Du erfahren, wie Du das
                        Spiel bedienen und Deinen Charakter steuern kannst. Danach gelangst Du in einen sicheren
                        Anfängerbereich, wo Du auch erstmal eine Pause machen kannst.
                    </li>
                    <li>
                        Wenn Du noch eine zweite Stunde Zeit hast, wirst Du sicher auch schon viel vom Anfängerbereich
                        erforscht haben. Dann beherrscht Du schon die Grundkommandos und kannst mit den
                        computergesteuerten Spielfiguren (NPCs) umgehen. Vielleicht hast Du sogar schon ein erstes
                        kleines Abenteuer erlebt.
                    </li>
                    <li>
                        Wenn Du so ein bisschen sicher geworden bist im Umgang mit dem Spiel, ist es an der Zeit, den
                        Anfänger-Bereich zu verlassen und die eigentliche Spielwelt zu betreten. Bevor Du dort in die
                        Selbständigkeit entlassen wirst, erfährst Du noch, wie Du das Spiel jederzeit sicher verlassen
                        kannst.
                    </li>
                </ul>

                <h2>MUD-Clients</h2>

                <p>MUD-Clients sind spezielle Programme, die zum Spielen von MUDs entwickelt wurden.</p>
                <p>
                    Ein Beispiel für einen MUD-Client ist unser Browser-Client. Den erreichts Du, wenn Du oben auf
                    unseren Webseiten auf "Jetzt spielen" klickst. Dieser Client ist gut geeignet für den Anfang. Und
                    auch gut geeignet, um zwischendurch mal ein wenig zu spielen.
                </p>
                <p>
                    Wenn Du aber intensiver spielen willst, dann möchtest Du vielleicht irgendwann ein Programm
                    benutzen, das Dir mehr Möglichkeiten bietet. In der folgenden Tabelle findest Du eine Übersicht.
                </p>
                <p>
                    (Tabelle)</p>
                <p>
                    Wir empfehlen Dir Mudlet. Außer Du benutzt einen Screenreader, dann wäre vielleicht MUSHclient die
                    bessere Wahl. (Und unter Linux?)
                </p>
                <h2>Zugangsdaten</h2>

                <ul>
                    <li>URL</li>
                    <li>IP-Adresse</li>
                    <li>Port (verschlüsselt)</li>
                    <li>Port (unverschlüsselt)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
